@font-face {
    font-family: 'Saved By Zero';
    src: url('./SavedByZero.woff2') format('woff2'),
        url('./SavedByZero.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

